*{
padding: 0;
margin: 0;
}
body{
    align-items: center;
}
input{
    width: 21rem;
    height: 5rem;
    border-radius: 5px;
    font-size: 46px;
    text-align: end;
    padding-right: 10px;
}
.container{
   
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .body{
    width: 18rem;
    height: 57vh;
    border: solid rgb(9, 7, 7) 2px;
    padding:50px 35px 35px 35px;
    border-radius: 7px;
    background-color: aqua;
}
.container .box{
     width: 17.5rem;
     height: 10vh;
     border: solid black 2px;
     border-radius: 5px;
     background-color: white;
}
.container .box p{
    font-size: 52px;
    text-align: right;
    padding: 5px;
}
.container .bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.container .leftsec{
    display: inline;
    margin: 3px;
    padding: 2px;
    justify-content: center;
}
.container .rightsec{
    display: inline;
    margin-top: 2px;
    justify-content: center;
}
 
.btn{
    font-size: large;
    font-weight: bolder;
    margin: 2px;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    color:white;
    background-color: black;
    transition: .5s ease background-color;
    
}
.container .btnclr{
    width: 8.5rem;
}
.container .btnnum{
    width: 4rem;
}
.container .btnlong{
    height: 18.5vh;
    padding-top: 2rem;
    width: 4rem;
    border-radius: 5px;
    font-size: large;
    font-weight: bolder;
}
.container .btnzero{
    width: 8.5rem;
    height: 10.5vh;
}
.container .btndot{
    width: 4rem;
    height:10.5vh ;
}
.btn:hover{
    color:black;
    background-color: rgb(86, 83, 83);
    border:solid black 1px;
}



